<div class="login-container">

  <mat-card class="login-card">

    <mat-card-header>
      <mat-card-title>Connexion</mat-card-title>
      <mat-card-subtitle>
        Accès sécurisé à votre espace bancaire
      </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="submit()">

        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" formControlName="email" />
          <mat-error *ngIf="form.controls.email.invalid">
            Email invalide
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Mot de passe</mat-label>
          <input matInput type="password" formControlName="password" />
          <mat-error *ngIf="form.controls.password.invalid">
            Mot de passe requis
          </mat-error>
        </mat-form-field>

      <button
        mat-filled-button
        color="primary"
        type="submit"
        class="login-button"
        [disabled]="form.invalid || loading"
        >

        <ng-container *ngIf="!loading; else spinner">
            Se connecter
        </ng-container>

        <ng-template #spinner>
            <mat-progress-spinner
            diameter="20"
            mode="indeterminate"
            />
        </ng-template>

        </button>


      </form>
    </mat-card-content>

  </mat-card>
</div>
