/////////////////////// ******  PRINCIPALES  ****** ////////////////////////

// --mat-sys-on-primary
// --mat-sys-primary-container
// --mat-sys-on-primary-container

// --mat-sys-secondary
// --mat-sys-on-secondary
// --mat-sys-secondary-container
// --mat-sys-on-secondary-container

// --mat-sys-tertiary
// --mat-sys-on-tertiary
// --mat-sys-tertiary-container
// --mat-sys-on-tertiary-container


/////////////////////// ******  Background & Surface (les plus importants  ****** ////////////////////////

// --mat-sys-background
// --mat-sys-on-background

// --mat-sys-surface
// --mat-sys-on-surface

// --mat-sys-surface-variant
// --mat-sys-on-surface-variant

// --mat-sys-inverse-surface
// --mat-sys-inverse-on-surface


/////////////////////// ******  Outline / Borders  ****** ////////////////////////

// --mat-sys-outline
// --mat-sys-outline-variant


/////////////////////// ******  Elevation olbre  ****** ////////////////////////

// --mat-sys-elevation-level0
// --mat-sys-elevation-level1
// --mat-sys-elevation-level2
// --mat-sys-elevation-level3
// --mat-sys-elevation-level4
// --mat-sys-elevation-level5
