@use '@angular/material' as mat;
@use './colors' as colors;
@use './forms' as forms;
@include mat.core();

/* =============================== ANGULAR MAT =============================== */

mat-card-title {
  margin: 10px 10px !important
}
mat-card {
  padding: 1rem;
  transition: transform 160ms ease, box-shadow 160ms ease;
}
mat-card:hover {
  transform: translateY(-4px);
  box-shadow: var(--mat-sys-elevation-level4);
}
.custom-bank-modal {
  .mat-mdc-dialog-container {
    background-color: #1a1a1a !important; // Ton fond sombre
    border-radius: 16px !important;
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0 !important;
  }

  .mat-mdc-dialog-content {
    color: #e0e0e0;
    font-family: 'Inter', sans-serif;
  }
}

/* =============================== APP =============================== */

html {
  height: 100%;
  @include mat.theme((
    color: (
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

body {
  color-scheme: dark;
  background-color: var(--mat-sys-surface);
  color: var(--mat-sys-on-surface);
  font: var(--mat-sys-body-medium);
  margin: 0;
  height: 100%;
}


/* =============================== SHARED =============================== */

.twoRow {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.chartHeader{
  display: grid;
  grid-template-columns: 6fr 2fr;
  gap: 20px;
}
.periodeFilterToogle{
  width: 172px;
  height: 40px;
  margin-top: 20px;
}
.textLight {
  color: var(--text-light);
}

.twoColumn {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 20px;
}
@media (max-width: 900px) {
  .twoColumn {
    grid-template-columns: 1fr;
  }
}