
:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  
}

.companyName{
  display: flex;
  margin-left: 1vw;
  width: 10vw;
  align-items: center;
  mat-icon {
    margin-right: 10px;
  }
}

.logoutBtn{
  border: 1px solid #f78f83;
}

.spacer {
  flex: 1 10 auto;
}

button.active {
  border: 2px solid var(--bank-primary-light);
}
    
.navbar {
  background-color: var(--bank-primary);
}

.grid { display: flex; gap: 20px;}

