.dashboard {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem 2rem 2rem;

  .dashboard-toolbar{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: baseline;
    gap: 1rem;
  }
  mat-button-toggle-group{
    margin: 0;
    align-self: center;
  }
}

.export-btn {
  min-width: 42px;
  height: 42px;
  padding: 0;
  border-radius: 12px;
  align-self: center;

  display: flex;
  align-items: center;
  justify-content: center;

  border-color: rgba(255, 255, 255, 0.18);
  background: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(6px);

  mat-icon {
    font-size: 20px;
    color: var(--mat-sys-primary);
  }

  &:hover {
    background: rgba(255, 255, 255, 0.08);
    border-color: var(--mat-sys-primary);
  }

  &:active {
    transform: scale(0.96);
  }
}


/* KPI */
.kpi {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 1rem;
}

.kpi-card {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.kpi-content {
  text-align: center;
}

.label {
  font: var(--mat-sys-body-medium);
  color: var(--mat-sys-on-surface-variant);
}

.value {
  display: block;
  margin-top: 0.5rem;
  font: var(--mat-sys-headline-medium);
}

.kpi-card.main .value {
  font: var(--mat-sys-display-small);
}


/* Accounts */
.accounts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1rem;
}

/* Transactions */
.transactions table {
  width: 100%;
}
.transactions {
  mat-card {
    padding-bottom: 0;
  }
}
.table-container {
  max-height: 58vh;  
  min-height: 58vh;
  overflow-y: auto;
}
table {
  width: 100%;
}
th.mat-header-cell {
  position: sticky;
  top: 0;
  z-index: 2;
  background: var(--mat-sys-surface-container);
}
.transactions tr:hover {
  background: var(--mat-sys-surface-container-high);
}
.transactions td {
  font: var(--mat-sys-body-medium);
}
.color-in {
  color: var(--mat-sys-primary);
}
.color-out {
  color: var(--mat-sys-error);
}
.amount-icon {
  font-size: 18px;
}

///////

.graph mat-card {
  padding: 1.5rem;
  background: var(--mat-sys-surface-container);
  border-radius: 20px;
}

.chart-container {
  position: relative;
  height: 23vh;
  margin-top: 1rem;
}




