.accounts-page {
  padding: 40px;
  background-color: #0b0f0e;
  min-height: 100vh;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;

  .page-title {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-self: start;
    align-items: center;
    margin-bottom: 3vh;
    margin-left: 8vw;
  }

  .page-title h1 {
    font-size: 26px;
    font-weight: 500
  }

  .add-account {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 6px;
    ;
    color: #2CD4BF;
  }

  .add-account :hover {
    color: white;
    cursor: pointer;
  }
}

.cards-stack {
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 100vh;
  width: 80vw;
}

.account-card {
  background: #121817 !important;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 20px !important;
  padding: 35px;
}

.account-grid {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 60px;
  align-items: center;
}

.info-column {
  .acc-header {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 45px;



    h3 {
      margin: 0;
      font-size: 20px;
      font-weight: 500;
    }

    .iban-text {
      color: #5f6368;
      font-size: 14px;
    }
  }

  .balance-section {
    label {
      color: #8b8e94;
      font-size: 14px;
      display: block;
      margin-bottom: 10px;
    }

    .balance-value {
      font-size: 40px;
      font-weight: 600;
      letter-spacing: -1px;
    }
  }
}

.icon-wrapper {
  background: rgba(45, 212, 191, 0.1);
  color: #2dd4bf;
  min-width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

.chart-column {
  border-left: 1px solid rgba(255, 255, 255, 0.08);
  padding-left: 60px;
  height: 200px;
  @media (max-width:1150px) {
        display: none;
      }
  .section-label {
    display: block;
    color: #8b8e94;
    font-size: 13px;
    margin-bottom: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
}

.action-column {
  gap: 10px;
  display: flex;
  flex-direction: column;

  .action-row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    gap: 20px;

    div:not(.icon-wrapper) {
      display: block;

      @media (max-width: 850px) {
        display: none; 
      }
    }

    &:hover {
      background: rgba(29, 233, 182, 0.08);
      transform: translateX(8px);
      color: #ffffff;
      border-radius: 8px;
      .icon-wrapper {
        background: rgba(29, 233, 182, 0.2);
        box-shadow: 0 0 15px rgba(29, 233, 182, 0.3);
        color: whitesmoke;
        mat-icon { transform: scale(1.1);}
      }
    }
    &.delete-action:hover {
        background: rgba(244, 67, 54, 0.1); 
        transform: translateX(8px);
        color: #f44336; 

        .icon-wrapper {
            background: rgba(244, 67, 54, 0.2);
            box-shadow: 0 0 15px rgba(244, 67, 54, 0.3);
            color: #f44336;

            mat-icon {
                transform: scale(1.1);
            }
        }
    }
    &:active { transform: translateX(4px) scale(0.98);}

  }

}